{% if latest_poll_list %}
    <ul>
          {% for poll in latest_poll_list %}
	          <!-- <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li> -->
	  <li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></li>
		      {% endfor %}
		      </ul>
    {% else %}
        <p>No polls are available.</p>
	{% endif %}
