<h1>{{ poll.question }}</h1>

<ul>
  {% for choice in poll.choice_set.all %}
      <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
      {% endfor %}
      </ul>

<a href="{% url 'polls:detail' poll.id %}">Vote again?</a>

