  <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>
                {% block title %}{% endblock %}
            </title>
            </head>
        <body>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </body>
    </html>